# Total Testing Cases

In [59]:
import pandas as pd
import csv
import os
import numpy as np
from config import access
from sqlalchemy import create_engine

# Store CSV into Dataframe

In [60]:
csv_path="resources/covid-testing-all-observations.csv"

In [61]:
tests_df = pd.read_csv(csv_path)

In [62]:
tests_df.head()

,Entity,ISO code,Date,Source URL,Source label,Notes,Daily change in cumulative total,Cumulative total,Cumulative total per thousand,Daily change in cumulative total per thousand,7-day smoothed daily change,7-day smoothed daily change per thousand,Short-term positive rate,Short-term tests per case
0,Albania - tests performed,ALB,2020-02-25,https://shendetesia.gov.al/koronavirusi-mshms-...,Ministry of Health and Social Protection,NaN,8.0,8.0,0.003,0.003,NaN,NaN,NaN,NaN
1,Albania - tests performed,ALB,2020-02-26,https://shendetesia.gov.al/fond-shtese-per-mas...,Ministry of Health and Social Protection,NaN,5.0,13.0,0.005,0.002,NaN,NaN,NaN,NaN
2,Albania - tests performed,ALB,2020-02-27,https://shendetesia.gov.al/ministria-e-shendet...,Ministry of Health and Social Protection,NaN,4.0,17.0,0.006,0.001,NaN,NaN,NaN,NaN
3,Albania - tests performed,ALB,2020-02-28,http://shendetesia.gov.al/manastirliu-asnje-ra...,Ministry of Health and Social Protection,NaN,1.0,18.0,0.006,0.000,NaN,NaN,NaN,NaN
4,Albania - tests performed,ALB,2020-02-29,https://shendetesia.gov.al/ministria-e-shendet...,Ministry of Health and Social Protection,NaN,8.0,26.0,0.009,0.003,NaN,NaN,NaN,NaN

# Describe Data

In [75]:
tests_df.dtypes

Entity                                            object
ISO code                                          object
Date                                              object
Source URL                                        object
Source label                                      object
Notes                                             object
Daily change in cumulative total                 float64
Cumulative total                                 float64
Cumulative total per thousand                    float64
Daily change in cumulative total per thousand    float64
7-day smoothed daily change                      float64
7-day smoothed daily change per thousand         float64
Short-term positive rate                         float64
Short-term tests per case                        float64
dtype: object

In [63]:
tests_df['Entity'] = tests_df['Entity'].str.replace(' - tests performed', '')
tests_df['Entity'] = tests_df['Entity'].str.replace(' - people tested', '')
tests_df['Entity'] = tests_df['Entity'].str.replace(' - samples tested', '')

In [64]:
tests  = tests_df[['Entity', 'Date','Cumulative total']].copy()
tests_date = tests.loc[tests["Date"] == "2021-05-28"]

In [65]:
tests_date

              Entity        Date  Cumulative total
458          Albania  2021-05-28          692314.0
627          Andorra  2021-05-28               NaN
1144       Argentina  2021-05-28         9977666.0
1595         Armenia  2021-05-28         1075450.0
2038       Australia  2021-05-28        18164843.0
...              ...         ...               ...
50731  United States  2021-05-28       448268826.0
51165        Uruguay  2021-05-28               NaN
51387        Vietnam  2021-05-28         3929395.0
51830         Zambia  2021-05-28         1538730.0
52225       Zimbabwe  2021-05-28          546389.0

[117 rows x 3 columns]

# Keep the Required Columns

In [66]:
total_tests = tests_date.groupby(['Entity']).sum()

In [67]:
total_tests.reset_index(inplace=True)

In [68]:
total_tests

            Entity  Cumulative total
0          Albania          692314.0
1          Andorra               0.0
2        Argentina         9977666.0
3          Armenia         1075450.0
4        Australia        18164843.0
..             ...               ...
110  United States       448268826.0
111        Uruguay               0.0
112        Vietnam         3929395.0
113         Zambia         1538730.0
114       Zimbabwe          546389.0

[115 rows x 2 columns]

In [69]:
total_tests.columns = ["country","total_tests"]

# Connect to Local Database

In [70]:
# Create Engine for SQL Data
engine = create_engine(f'postgresql://postgres:{access}@localhost/etl_db')
conn= engine.connect()

In [71]:
engine.table_names()

['confirmed_cases', 'tests', 'deaths', 'vaccination', 'countries']

In [73]:
total_tests.to_sql(name='tests', con=engine, if_exists='append', index=False)