In [11]:
import pandas as pd
import csv
import os

In [12]:
csv_path="resources/covid-testing-all-observations.csv"

In [13]:
tests_df = pd.read_csv(csv_path)

In [14]:
tests_df.head()

,Entity,ISO code,Date,Source URL,Source label,Notes,Daily change in cumulative total,Cumulative total,Cumulative total per thousand,Daily change in cumulative total per thousand,7-day smoothed daily change,7-day smoothed daily change per thousand,Short-term positive rate,Short-term tests per case
0,Albania - tests performed,ALB,2020-02-25,https://shendetesia.gov.al/koronavirusi-mshms-...,Ministry of Health and Social Protection,NaN,8.0,8.0,0.003,0.003,NaN,NaN,NaN,NaN
1,Albania - tests performed,ALB,2020-02-26,https://shendetesia.gov.al/fond-shtese-per-mas...,Ministry of Health and Social Protection,NaN,5.0,13.0,0.005,0.002,NaN,NaN,NaN,NaN
2,Albania - tests performed,ALB,2020-02-27,https://shendetesia.gov.al/ministria-e-shendet...,Ministry of Health and Social Protection,NaN,4.0,17.0,0.006,0.001,NaN,NaN,NaN,NaN
3,Albania - tests performed,ALB,2020-02-28,http://shendetesia.gov.al/manastirliu-asnje-ra...,Ministry of Health and Social Protection,NaN,1.0,18.0,0.006,0.000,NaN,NaN,NaN,NaN
4,Albania - tests performed,ALB,2020-02-29,https://shendetesia.gov.al/ministria-e-shendet...,Ministry of Health and Social Protection,NaN,8.0,26.0,0.009,0.003,NaN,NaN,NaN,NaN

In [15]:
tests_df['Entity'] = tests_df['Entity'].str.replace(' - tests performed', '')
tests_df['Entity'] = tests_df['Entity'].str.replace(' - people tested', '')
tests_df['Entity'] = tests_df['Entity'].str.replace(' - samples tested', '')

In [17]:
tests  = tests_df[['Entity', 'Date','Cumulative total']].copy()
tests_date = tests.loc[tests["Date"] == "2021-05-28"]

In [7]:
tests_date

              Entity        Date  Cumulative total
458          Albania  2021-05-28          692314.0
627          Andorra  2021-05-28               NaN
1144       Argentina  2021-05-28         9977666.0
1595         Armenia  2021-05-28         1075450.0
2038       Australia  2021-05-28        18164843.0
...              ...         ...               ...
50731  United States  2021-05-28       448268826.0
51165        Uruguay  2021-05-28               NaN
51387        Vietnam  2021-05-28         3929395.0
51830         Zambia  2021-05-28         1538730.0
52225       Zimbabwe  2021-05-28          546389.0

[117 rows x 3 columns]

In [8]:
total_tests = tests_date.groupby(['Entity']).sum()

In [18]:
total_tests.columns = ["Total Tests"]

In [19]:
total_tests

               Total Tests
Entity
Albania           692314.0
Andorra                0.0
Argentina        9977666.0
Armenia          1075450.0
Australia       18164843.0
...                    ...
United States  448268826.0
Uruguay                0.0
Vietnam          3929395.0
Zambia           1538730.0
Zimbabwe          546389.0

[115 rows x 1 columns]