In [1]:
import pandas as pd
import csv
import os
import numpy as np
from sqlalchemy import create_engine

In [2]:
csv_path="resources/RAW_global_deaths.csv"

In [3]:
deaths_df = pd.read_csv(csv_path)

In [4]:
deaths_df.head()

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/21,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21
0,Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,...,2899,2919,2944,2973,3007,3034,3068,3104,3145,3187
1,Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,...,2449,2450,2451,2451,2451,2451,2451,2451,2451,2452
2,Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,...,3460,3465,3472,3480,3490,3497,3504,3510,3518,3527
3,Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,...,757,764,766,772,780,784,788,794,797,800

In [5]:
deaths_df.replace(np.nan, '', regex=True, inplace=True)

In [10]:
deaths_df['Total Death Cases']= deaths_df.iloc[:, 320:497].sum(axis=1)  

deaths_df

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,Total Death Cases
0,Afghanistan,,33.9391,67.71,0,0,0,0,0,0,...,2919,2944,2973,3007,3034,3068,3104,3145,3187,427547
1,Albania,,41.1533,20.1683,0,0,0,0,0,0,...,2450,2451,2451,2451,2451,2451,2451,2451,2452,315327
2,Algeria,,28.0339,1.6596,0,0,0,0,0,0,...,3465,3472,3480,3490,3497,3504,3510,3518,3527,529519
3,Andorra,,42.5063,1.5218,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,18807
4,Angola,,-11.2027,17.8739,0,0,0,0,0,0,...,764,766,772,780,784,788,794,797,800,89899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Vietnam,,14.0583,108.277,0,0,0,0,0,0,...,47,47,48,49,49,51,53,53,53,6280
272,West Bank and Gaza,,31.9522,35.2332,0,0,0,0,0,0,...,3495,3497,3503,3507,3509,3511,3516,3517,3517,393201
273,Yemen,,15.5527,48.5164,0,0,0,0,0,0,...,1320,1321,1322,1323,1325,1325,1325,1329,1336,144939
274,Zambia,,-13.1339,27.8493,0,0,0,0,0,0,...,1278,1281,1282,1284,1288,1297,1303,1308,1315,162471
275,Zimbabwe,,-19.0154,29.1549,0,0,0,0,0,0,...,1594,1594,1599,1599,1604,1605,1605,1606,1611,208210

In [11]:
deaths_df.loc[deaths_df["Province/State"] == 'Repatriated Travellers']

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,Total Death Cases
52,Canada,Repatriated Travellers,,,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
clean_deaths_df = deaths_df[['Country/Region','Province/State','Lat','Long','Total Death Cases']].copy()

In [20]:
clean_deaths_df.columns = ['country','province','lat','long','total_death_cases']
clean_deaths_df['lat'] = clean_deaths_df['lat'].replace('',0)
clean_deaths_df['long'] = clean_deaths_df['long'].replace('',0)

clean_deaths_df.dtypes

country               object
province              object
lat                   object
long                 float64
total_death_cases      int64
dtype: object

In [21]:
clean_deaths_df.loc[deaths_df["Province/State"] == 'Repatriated Travellers']

   country                province lat  long  total_death_cases
52  Canada  Repatriated Travellers   0   0.0                  0

In [14]:
# Create Engine for SQL Data
engine = create_engine('postgresql://postgres:root@localhost/covid_db')
conn= engine.connect()

In [15]:
engine.table_names()

['death_cases']

In [22]:
clean_deaths_df.to_sql(name='death_cases', con=engine, if_exists='append', index=False)