In [1]:
import pandas as pd
import csv
import os
import numpy as np
from sqlalchemy import create_engine

In [2]:
csv_path="resources/RAW_global_confirmed_cases.csv"

In [3]:
confirmed_cases_df = pd.read_csv(csv_path)

In [4]:
confirmed_cases_df.head()

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/29/21,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21
0,Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,...,70111,70761,71838,72977,74026,75119,76628,77963,79224,80841
1,Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,...,132297,132309,132315,132337,132351,132360,132372,132374,132379,132384
2,Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,...,128456,128725,128913,129218,129640,129976,130361,130681,130958,131283
3,Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,...,13693,13693,13727,13729,13744,13752,13758,13758,13758,13777
4,Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,...,34180,34366,34551,34752,34960,35140,35307,35594,35772,35854

In [5]:
confirmed_cases_df.replace(np.nan, '', regex=True, inplace=True)

In [7]:
confirmed_cases_df['total_confirmed']= confirmed_cases_df.iloc[:, 320:497].sum(axis=1)  

confirmed_cases_df

,Country/Region,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/30/21,5/31/21,6/1/21,6/2/21,6/3/21,6/4/21,6/5/21,6/6/21,6/7/21,total_confirmed
0,Afghanistan,,33.9391,67.71,0,0,0,0,0,0,...,70761,71838,72977,74026,75119,76628,77963,79224,80841,9899764
1,Albania,,41.1533,20.1683,0,0,0,0,0,0,...,132309,132315,132337,132351,132360,132372,132374,132379,132384,17370804
2,Algeria,,28.0339,1.6596,0,0,0,0,0,0,...,128725,128913,129218,129640,129976,130361,130681,130958,131283,19687461
3,Andorra,,42.5063,1.5218,0,0,0,0,0,0,...,13693,13727,13729,13744,13752,13758,13758,13758,13777,1899770
4,Angola,,-11.2027,17.8739,0,0,0,0,0,0,...,34366,34551,34752,34960,35140,35307,35594,35772,35854,3864721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Vietnam,,14.0583,108.277,0,2,2,2,2,2,...,7107,7432,7625,7870,8063,8364,8580,8791,9027,430571
272,West Bank and Gaza,,31.9522,35.2332,0,0,0,0,0,0,...,308048,308350,308732,309036,309333,309644,309853,310026,310026,36139972
273,Yemen,,15.5527,48.5164,0,0,0,0,0,0,...,6737,6742,6751,6759,6767,6773,6780,6787,6812,633524
274,Zambia,,-13.1339,27.8493,0,0,0,0,0,0,...,95050,95263,95821,96563,97388,98376,99540,100278,100765,11509428
275,Zimbabwe,,-19.0154,29.1549,0,0,0,0,0,0,...,38944,38961,38998,39031,39092,39144,39168,39189,39238,5455448

In [8]:
clean_confirmed_df = confirmed_cases_df[['Country/Region','Province/State','Lat','Long','total_confirmed']].copy()

In [10]:
clean_confirmed_df.columns = ['country','province','lat','long','total_confirmed']
clean_confirmed_df['lat'] = clean_confirmed_df['lat'].replace('',0)
clean_confirmed_df['long'] = clean_confirmed_df['long'].replace('',0)

clean_confirmed_df.dtypes

country             object
province            object
lat                float64
long               float64
total_confirmed      int64
dtype: object

In [11]:
# Create Engine for SQL Data
engine = create_engine('postgresql://postgres:root@localhost/covid_db')
conn= engine.connect()

In [12]:
engine.table_names()

['death_cases', 'countries', 'confirmed_cases']

In [15]:
clean_confirmed_df.to_sql(name='confirmed_cases', con=engine, if_exists='append', index=False)